<h1><%= @garden.name %></h1>
<h2>Plants</h2>
  <% @garden.plots.each do |plot| %>
    <% plot.plants.each do |plant| %>
      <%= plant.name %>
      <br>
    <% end %>
  <% end %>
<h2> <% @garden.less_than_100.each do |plant| %> </h2>
  <%= plant.name %>
<% end %>
